
.done span{
  text-decoration: line-through;
}

.AddTodo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

.TodoList{
  display: flex;
  flex-direction: column;
  position: relative;
  
}

.Todo{
  background-color: gray;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  justify-content: center;
  font-size: 1.2rem;
}

.fa-check {
  color: green;
  margin: 0 0.5rem;
}

.fa-trash{
  color: red;
}